.categoryBtn {
    background-color: #d6d7d9; 
    border-style: none;
    color: #005b55;
    font-size: 20px; 
    margin-top: 5px;
    padding: 20px;
    text-align: left;
    text-transform: uppercase;
    width: 100%; 
  }

